body{
    background-color: #FEE1B6;
    font-family: 'montserrat', sans-serif;
}

/* search box */
.searchBox{
    border: transparent;
    background-color: transparent;
    height: 3em;
}
.searchIcon img{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}
/* .searchIcon{
    position: relative;
} */
.search-container .row {
    align-items: center;
    justify-content: left;
    height: 30vh;
    margin-top: 2em;
}

/* tool container */
.tool-container{
    align-items: center;
    justify-content: left;
    margin-top: 20vh;
}


/* card post */
.card-post {
    margin-bottom: 2em;
    border-radius: 0.8em;
    background-color: #FFE9CB;
}
.card-post .card-body {
    padding: 0 1em 1em;
}
.card-post .card-img-top {
    padding: 0.8em;
}
.card-post .profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 5px;
}
.card-post .profile{
    color: black;
}
.post-caption{
    color: black;
}
a {
    text-decoration: none;
    color: unset;
}

/* login & register */
.auth-container,
.auth-container .row {
    height: 100vh;
}
.auth-container .row {
    align-items: center;
    justify-content: center;
}

.auth-container .login {
    padding: 2em;
    background-color: transparent;
    border-radius: 16px;
}
.signUp,
.signUp .row {
    height: 75vh;
}
.signUp .row {
    align-items: center;
    justify-content: center;
}

.signUp .login {
    padding: 2em;
    background-color: transparent;
    border-radius: 16px;
}

.login img {
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 1.83em;
}
.login{
    color: #FFEFD9;
}
.btnSignIn{
    color : #444444;
    background-color: #FF7E36;
    height: 3em;
    width: 20em;
    border-radius: 100px;
}
.forgotSignUp a{
    color: #018F8C;
    font-weight: bold;
}
.forgotSignUp span{
    color: #9A9A9A;
    font-weight: bold;
}
.form-control{
    background-color: #FFEFD9;
    border-radius: 100px;
    border: none;
    color: #B6B6B6;
    font-weight: lighter;
    width: 20em;
}
.keterangan{
    color: #333333;
}